# bot
DISCORD_BOT_TOKEN=discord token
DISCORD_GUILD_ID=your server id

# discord application
APPLICATION_ID=bot's application id

# minecraft environments
MINECRAFT_SERVER_IP=your server ip
MINECRAFT_SERVER_PORT=your server port
